<h1>Hi @ViewBag.User.Name</h1>
<div class="row">
    <div class="col-sm-6">
        <h3>My cars</h3>
        <table class="table table-bordered">
            <tr>
                <th>Make</th>
                <th>Model</th>
                <th>Year</th>
                <th>Color</th>
            </tr>
            @{
                foreach(var c in ViewBag.MyCars)
                {
                    foreach(var d in c.Autos)
                    {
                        <tr>
                            <td>@d.Make</td>
                            <td>@d.Model</td>
                            <td>@d.Year</td>
                            <td>@d.Color</td>
                        </tr>
                    }
                }
            }
        </table>
    </div>
    @model Car
    <div class="col-sm-6">
        <h3>Add a car</h3>
        <form action="createCar" method="post">
            <div class="form-group">
                <label>Make</label>
                <span asp-validation-for="Make"></span>
                <input class="form-control" asp-for="Make">
            </div>
            <div class="form-group">
                <label>Model</label>
                <span asp-validation-for="Model"></span>
                <input class="form-control" asp-for="Model">
            </div>
            <div class="form-group">
                <label>Year</label>
                <span asp-validation-for="Year"></span>
                <input class="form-control" asp-for="Year">
            </div>
            <div class="form-group">
                <label>Color</label>
                <span asp-validation-for="Color"></span>
                <input class="form-control" asp-for="Color">
            </div>
            <input type="hidden" name="UserId" value="@ViewBag.User.UserId">
            <input type="submit" class="btn btn-warning">
        </form>
    </div>
</div>